#content .said-content >.context {
    width: 825px;
    margin: 0 auto;
}

#content .said-content >.context .title {
    margin: 0;
    font-weight: 300;
    line-height: 1.2;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    font-size: 2.1rem;
    border-bottom: 1px dashed #ccc;
    color: #666;
}

#content .said-content >.context .article .notice.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
#content .said-content >.context .article .notice {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


#content .said-content >.context .article .html {
    font: 16px/2 system,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
}
#content .said-content >.context .article .html p, #content .said-content >.context .article .html ul, #content .said-content >.context .article .html ol, #content .said-content >.context .article .html dl, #content .said-content >.context .article .html table, #content .said-content >.context .article .html pre, #content .said-content >.context .article .html blockquote {
    margin-top: 0;
    margin-bottom: 1em;
}

#content .said-content >.context .article .author {
    padding-top: 3rem;
    font-size: 1.142rem;
}

#content .said-content >.context .article .author p {
    margin: 0 0 0.5rem 0;
}

#content .said-content >.context .article .html img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    cursor: zoom-in;
}